<form method="post">
    <label>nome</label>
    <input type="text" name="nome"/><br>
    <label>email</label>
    <input type="text" name="email"/><br>
    <button type="submit">Enviar</button>
</form>