<div>
    <p><strong>Nome: </strong> <%= nome %> </p>
    <p><strong>E-mail: </strong> <%= email %> </p>
</div>

<div>
    <ul>
        <% nomes.forEach(item => { %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</div>